* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.height {
  height: 100vh;
}

.search {
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
}

.search input {
  height: 60px;
  text-indent: 25px;
  border: 2px solid #d6d4d4;
}

.search input:focus {
  box-shadow: none;
  border: 2px solid rgb(51, 51, 51);
}

.search .fa-search {
  position: absolute;
  top: 20px;
  left: 16px;
}

.search button {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 50px;
  width: 110px;
  background: rgb(51, 51, 51);
}

.container {
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;

  .sub-container {
    padding-bottom: 20px;
    text-align: center;
  }

  .comment-container {
    @extend .sub-container;
  }

  #Welcome-text {
    color: white;
  }

  .top-container {
    padding-top: 150px;
    @extend .container;
  }
}

.commented {
  width: 900px;
  text-align: center;
}

@media only screen and (max-width: 633px) {
  .commented {
    width: 450px;
  }
}
