body {
  background-color: #eee;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  height: 100vh;
}

.search {
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);

  input {
    height: 60px;
    text-indent: 25px;
    border: 2px solid #d6d4d4;

    &:focus {
      box-shadow: none;
      border: 2px solid blue;
    }
  }

  .fa-search {
    position: absolute;
    top: 20px;
    left: 16px;
  }

  button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
    background: blue;
  }
}

.post-search {
  width: 100%;
  margin-right: auto;
}
