{% extends "layout.html" %} {% block title %} Bookinator {% endblock %} {% block
body %}
<section id="book">
  <div class="container" style="padding-top: 150px">
    <div class="row">
      <div class="col-sm" align="center">
        <div class="image">
          <img clas="image" src="{{ img }}" width="50%" />
          <p>ISBN: {{book.isbn}}</p>
          Puntuation:
          <select name="start" id="cars" disabled>
            <option value="1">{{ promedio }}</option>
          </select>
        </div>
      </div>
      <div class="col-sm">
        <div class="text-box">
          <h2>{{ book.title }}</h2>
          <p>{{ description }}</p>
          <p>Written by: {{ book.author }}</p>
          <p>Published on: {{book.year}}</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="replies">
  <div class="container">Here are some replies.</div>
  {% if not session.user_id %}
  <div class="container">
    If you want to leave a comment about the book please
    <a href="{{ url_for('login') }}">Login</a> or
    <a href="{{ url_for('register') }}">Register</a>
  </div>
  {% elif alreadyComented == true %}
  <div class="container">You alredy make a comment about this book.</div>
  {% else %}
  <div class="container">
    <form method="post">
      <div class="form-group">
        <div class="comment-container">
          <textarea
            class="form-control"
            name="message"
            rows="3"
            required
          ></textarea>
        </div>
        <div class="sub-container">
          <button id="defaultBtn" class="btn btn-dark" type="submit">
            Post
          </button>
        </div>
      </div>
    </form>
  </div>
  {% endif %}
</section>
{% endblock %}
