{% extends "layout.html" %} {% block title %} Bookinator {% endblock %} {% block
body %}
<form method="POST">
  <div class="container">
    <div class="row height d-flex justify-content-center align-items-center">
      <div class="col-md-8">
        <div class="search">
          <i class="fa fa-search"></i>
          <input
            type="text"
            class="form-control"
            placeholder="Have a question? Ask Now"
            name="q"
            required
          />
          <button class="btn btn-dark">Search</button>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}
