{% extends "layout.html" %} {% block title %} Log In {% endblock %} {% block
body %}
<div class="container">
  <form action="{{ url_for('login') }}" method="post">
    <div class="sub-container">
      <input
        autocomplete="off"
        autofocus
        class="form-control"
        name="username"
        placeholder="Username"
        type="text"
        required
      />
    </div>

    <div class="sub-container">
      <input
        class="form-control"
        name="password"
        placeholder="Password"
        type="password"
        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{7,}"
        title="Password needs at least a lowercase letter, a capital letter, a number, and a minimun of 7 characters"
        required
      />
    </div>

    <button id="defaultBtn" class="btn btn-dark" type="submit">Login</button>
  </form>
</div>

{% endblock %}
